body {
    font-family: Arial, sans-serif;
}

.header-container {
    text-align: center;
    margin: 0;
    font-family: 'Georgia', serif;
    padding: 20px;
    max-height: 135px;
    background-color: #6497a7;

}

h1{    font-size: 45px;}

h2{    font-size: 20px;}

.about-link {
    text-decoration: none;
    color: #3014bc; /* Or any color that fits your design */
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #c7e2eb; /* Light blue background */
}

#chat-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-top: 40px;
    padding: 20px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 50px;
}

#user-query {
    width: 77%;
    padding: 10px;
}

button {
    width: 18%;
    padding: 10px;
    cursor: pointer;
}
